@charset "utf-8";
/* CSS Document */
*, div, form, ul, ol, li, dl, dt, dd {
	padding:0px;
	margin:0px;
}
div, form, ul, ol, li, dl, dt, dd {
	list-style-type:none;
	border:0px;
	display:block;
}
img {
	border:0px;
	display:inline;
}
body {
	width:100%;
	font-family:"微软雅黑", "宋体";
	color:#666;
	font-size:13px;
	cursor:auto;
	/*background:url(../images/bj.jpg) #7d766e;*/

}
nav{background:#113f61;height:50px;line-height:50px;color:#fff;font-size:24px;font-weight: bold;text-shadow:2px 2px 1px #000;width: 100%;max-width:900px;left:0px;right: 0px;top:0px;position: fixed;margin:auto;text-align: center;vertical-align:middle;display: block;z-index: 1;}
/*延迟*/
.index-left {position: absolute;bottom: 0;left: 0;width: 50px;height: 50px;background: url(/images/home.png);background-position: 14px 14px;background-repeat: no-repeat;background-size: auto 22px;}
.index-right {position: absolute;bottom: 0;right: 0;width: 50px;height: 50px;background: url(/images/geren.png);background-position: 13px 13px;background-repeat: no-repeat;background-size: auto 24px;}
.top{height:50px;}
.yanc3s{
	transition:border .3s cubic-bezier(.19, 1, .22, 1), box-shadow .3s cubic-bezier(.19, 1, .22, 1), background .3s cubic-bezier(.19, 1, .22, 1), margin .3s cubic-bezier(.19, 1, .22, 1), width .3s cubic-bezier(.19, 1, .22, 1), height .3s cubic-bezier(.19, 1, .22, 1), top .3s cubic-bezier(.19, 1, .22, 1), color .3s cubic-bezier(.19, 1, .22, 1), left .3s cubic-bezier(.19, 1, .22, 1);
	-webkit-transition:border .3s cubic-bezier(.19, 1, .22, 1), box-shadow .3s cubic-bezier(.19, 1, .22, 1), background .3s cubic-bezier(.19, 1, .22, 1), margin .3s cubic-bezier(.19, 1, .22, 1), width .3s cubic-bezier(.19, 1, .22, 1), height .3s cubic-bezier(.19, 1, .22, 1), top .3s cubic-bezier(.19, 1, .22, 1), color .3s cubic-bezier(.19, 1, .22, 1), left .3s cubic-bezier(.19, 1, .22, 1);
}
.yanc5s{
	transition:border .5s cubic-bezier(.19, 1, .22, 1), box-shadow .5s cubic-bezier(.19, 1, .22, 1), background .5s cubic-bezier(.19, 1, .22, 1), margin .5s cubic-bezier(.19, 1, .22, 1), width .5s cubic-bezier(.19, 1, .22, 1), height .5s cubic-bezier(.19, 1, .22, 1), top .5s cubic-bezier(.19, 1, .22, 1), color .5s cubic-bezier(.19, 1, .22, 1), left .5s cubic-bezier(.19, 1, .22, 1);
	-webkit-transition:border .5s cubic-bezier(.19, 1, .22, 1), box-shadow .5s cubic-bezier(.19, 1, .22, 1), background .5s cubic-bezier(.19, 1, .22, 1), margin .5s cubic-bezier(.19, 1, .22, 1), width .5s cubic-bezier(.19, 1, .22, 1), height .5s cubic-bezier(.19, 1, .22, 1), top .5s cubic-bezier(.19, 1, .22, 1), color .5s cubic-bezier(.19, 1, .22, 1), left .5s cubic-bezier(.19, 1, .22, 1);
}
/*通用*/
.jz{
	width:100%;
	max-width: 900px;
	margin:0 auto;
	box-shadow: 0px 3px 5px 0px #ccc;
}
.clr {
	display: block;
	height: 1px;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	font-size:0px;
}
/*连接部分*/
a:link, a:visited {
	color:#000;
	text-decoration: none;
}
a:hover {
	color:#8d4d27;
	text-decoration: underline;
}
a:active {
	color:#000;
	text-decoration: none;
}
.hs a:link, .hs a:visited {
	color:#ffffff;
}
.hs a:hover {
	color:#ffffff;
}
.hs a:active {
	color:#ffffff;
}
/*统计器*/
.dh{
	background:url(../images/dhbj.jpg) #fffffd;
	height:94px;
	margin-bottom:26px;
	-moz-box-shadow:0px 0px 20px #000; 
	-webkit-box-shadow:0px 0px 20px #000; 
	box-shadow:0px 0px 20px #000;
}
.logo{
	float:left;
	display: block;
    width: 260px;
    height: 65px;
    background: url(../images/logo.png);
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='images/logo.png');
    _background-image: none;
	margin:17px 0 0 6%;
}
.dh ul{
	float:right;
	background:#FFF;
	height:45px;
	margin-top:48px;
	border:1px solid #b2b9c3;
	border-bottom:none;
	border-right:none;
	-moz-box-shadow:0px -4px 4px #6a6a6a;
	-webkit-box-shadow:0px -4px 4px #6a6a6a;
	box-shadow:0px -4px 4px #6a6a6a;
}
.dh ul li{
	float:left;
	line-height:45px;
	display:block;
	padding:0 40px;
	border-right:1px solid #b2b9c3;
	font-size:18px;
	color:#ff0000;
	text-align: center;
}
.dh ul li.hs{
	font-weight: bolder;
}
.ny{
	background:#FFF;
	display:block;
	overflow:hidden;
}
.ny input{
	margin:0 6px 5px 0px;
	cursor:pointer;
	padding:6px 0px;
	line-height:13px;
	font-size:13px;
	color:#000;
	border-radius:6px;
	border:1px solid #cecece;
	background: linear-gradient(#f2f2f2, #c4c4c4);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.15);
	text-align: center;
}
.ny input:focus, .ny input:hover {
	background: linear-gradient(#c4c4c4, #f2f2f2);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.15);
	outline:none;
	border-radius:6px;
}
.ny input.hongbo{
	color:#fff;
	border:1px solid #8e0001;
	background: linear-gradient(#ff0000, #8e0001);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ny input.hongbo:focus, .ny input.hongbo:hover {
	background: linear-gradient(#8e0001, #ff0000);
}
.ny input.lvbo{
	color:#fff;
	border:1px solid #006300;
	background: linear-gradient(#00d000, #006300);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ny input.lvbo:focus, .ny input.lvbo:hover {
	background: linear-gradient(#006300, #00d000);
}
.ny input.lanbo{
	color:#fff;
	border:1px solid #004e90;
	background: linear-gradient(#478ef9, #004e90);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ny input.lanbo:focus, .ny input.lanbo:hover {
	background: linear-gradient(#004e90, #478ef9);
}
.nyl{
	float:left;
	width:49%;
	display: block;
	overflow:hidden;
	padding:16px 0 16px 1%;
}
.nyl textarea{
	width:98%;
	*width:94%;
	height:230px;
	padding:6px 2%;
	line-height:26px;
	font-size:20px;
	box-sizing: border-box;
	border-radius:6px;
	border:1px solid #c8cccf;
	color:#064a7b;
	-web-kit-appearance:none;
	-moz-appearance: none;
	display:block;
	outline:0;
	text-decoration:none;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
    background: linear-gradient(#fff, #f7f7f7);
	font-weight: bolder;
	resize:none;
}
.nyl textarea[type="text"]:focus, .nyl .wzyuc:focus{
	-moz-box-shadow: 0px 0px 8px #065792;
    -webkit-box-shadow: 0px 0px 8px #065792;
    box-shadow: 0px 0px 8px #065792;
    border:1px solid #065792;
	background:#f2faff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2faff), to(#e5f3fb));
    background: linear-gradient(#f2faff, #e5f3fb);
}
.nyl .wzyuc{
	width:94%;
	padding:6px 2%;
	font-size:16px;
	line-height:22px;
	color:#002c4c;
	height:268px;
	display:block;
	overflow:hidden;
	border:1px solid #c8cccf;
	border-radius:6px;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
    background: linear-gradient(#fff, #f7f7f7);
	word-break: break-all;
	overflow-y: auto;
}
.nyl .wzyuc b{
	white-space: nowrap;
	font-weight: normal;
}
.nylc{
	display:block;
	margin:8px 0;
}
.nylc input.inpd{
	float:left;
	width:16%;
	height:155px;
	font-size:18px;
	border-radius:10px;
	margin-right:0px;
}
.ny input.inpd:focus, .ny input.inpd:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#f2f2f2));
	background: linear-gradient(#c4c4c4, #f2f2f2);
	outline:none;
	border-radius:10px;
}
.nylcx{
	float:left;
	width:65%;
	margin-left:1%;
}
.nylcx input{
	width:31%;
	*width:22.6%;
	margin-right:1%;
}
.jrlt{
	height:42px;
	line-height:42px;
	text-align: center;
	margin-top:10px;	
}
.jrlt a{
	width:98%;
	display:block;
	font-size:18px;
	height:42px;
	border-radius:6px;
	border:1px solid #113f61;
	background: linear-gradient(#00599a, #113f61);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.15);
	transition:box-shadow .5s cubic-bezier(.19, 1, .22, 1), background .5s cubic-bezier(.19, 1, .22, 1), border-radius .5s cubic-bezier(.19, 1, .22, 1), color .5s cubic-bezier(.19, 1, .22, 1);
}
.jrlt a:focus, .jrlt a:hover {
	background: linear-gradient(#113f61, #00599a);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.15);
	border-radius:6px;
	text-decoration: none;
}
.nav-content{
	float:left;
	width:49%;
	display: block;
	overflow:hidden;
	overflow-y: auto;
	padding:16px 0 16px 1%;
}
.nav-content ul li{
	margin-bottom:1px;
	line-height:26px;
}
.nav-content ul li input{
	width:42px;
}
.nav-content ul li.inpszi input{
	width:56px;
}
#id_hao_from, #id_hao_to{
	cursor:auto;
	margin-left:6px;
	width:66px;
}
.btn-nav{
	display:none;
}
.sjbxs{
	display:inline-block;
}
.box .left input{
	width:17px;
	height:17px;
	bottom:-1px;
	position:relative;
}
.qiu1, .qiu2, .qiu3, .qiu4, .qiu5, .qiu6, .qiu7{
	margin-left:0px;
}
@media (max-width: 900px){
.jz{
	width:100%;
}
.nylcx input{
	width:22.6%;
}
.navBar3, .footBg{
	width:100%;
	background-position: center top;
}
.navBar3 ul{
	width:100%;
}
.body{
	width:100%;
	padding:0px;
}
.containner{
	padding:30px 0 0;
	margin:0 auto;
}
}
@media (max-width: 1004px){
.nylc input.inpd{
	font-size:16px;
}
.containner{
	width:98%;
}
.box .left{
	width:629px;
}
.qiu1, .qiu2, .qiu3, .qiu4, .qiu5, .qiu6, .qiu7{
	margin-left:0px;
	background-size: 100% auto;
	width:32px;
	height:34px;
	line-height:34px;
	font-size:16px;
}
.qiu2{
	background-position: 0 -45px;
}
.qiu3 {
    background-position: 0 -89px;
}
.qiu4 {
    background-position: 0 -134px;
}
.qiu5 {
    background-position: 0 -178px;
}
.qiu6 {
    background-position: 0 -223px;
}
.qiu7 {
    background-position: 0 -268px;
}
.bbtxt{
	width:100%;
}


}
@media (max-width: 861px){
.dh{
	height:131px;
}
.logo {
    float: none;
    margin: 0 auto 20px;
}
.dh ul li.sjbxs{
	display:none;
}
.dh ul{
	float:none;
	margin-top:0px;
}
.dh ul li{
	width:49%;
	padding:0px;
	font-size:16px;
}
.dh ul li.hs{
	border-right:none;
}
.nyl{
	width:90%;
	padding:16px 0;
	float:none;
}
.nylc{
	width:98%;
	margin:8px auto;
}
.nyl textarea{
	margin:0 auto;
	height:92px;
}
.nylc input.inpd{
	width:17%;
	font-size:18px;
}
.nyl .wzyuc{
	margin:0 auto;
	height:auto;
	min-height:136px
}
.jrlt a{
	width:100%;
}
/*导航*/
.btn-nav {
    background: transparent;
    border: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
	position: fixed;
    z-index:4;
	left:90%;
    top:0px;
	width:10%;
	cursor: pointer;
	display:block;
}
.sjdhbt{
	width:100%;
	background:#000;
	filter: Alpha(Opacity=80);
    opacity: 0.8;
	position:absolute;
	top:159px;
	color:#FFF;
	display:block;
	overflow:hidden;
	display: flex;
    justify-content:center;
    align-items:Center;
}
.sjdhbt b, .sjdhbt i{
	font-size:18px;
}
.btn-nav i{
	display:none;
}
button.animated b{
	display: none;
}
button.animated i{
	display:block;
}
.btn-nav:focus {
    outline: 0;
}
.icon-bar {
    display: block;
    margin: 6px 0;
    width: 40px;
    height: 5px;
    background-color: #2871a6;
    cursor:pointer;
	margin-left:-110%;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 5;
	position: relative;
}
.btn-nav:hover .icon-bar {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.animated:hover .icon-bar, .animated:focus .icon-bar ,.animated .icon-bar {
    background-color: #10507e;
}
.animated .top {
    -webkit-transform: translateY(10px) rotateZ(45deg);
    -moz-transform: translateY(10px) rotateZ(45deg);
    -ms-transform: translateY(10px) rotateZ(45deg);
    -o-transform: translateY(10px) rotateZ(45deg);
    transform: translateY(10px) rotateZ(45deg);
}
.animated .bottom {
    -webkit-transform: translateY(-11px) rotateZ(-45deg);
    -moz-transform: translateY(-11px) rotateZ(-45deg);
    -ms-transform: translateY(-11px) rotateZ(-45deg);
    -o-transform: translateY(-11px) rotateZ(-45deg);
    transform: translateY(-11px) rotateZ(-45deg);
}
.animated .middle {
    width: 0;
}
button.animated{
	width:20%;
	left:0px;
}
button.animated .icon-bar{
	margin-left:20%;
}
button.animated .sjdhbt{
	filter: Alpha(Opacity=20);
    opacity: 0.2;
}
.nav-content{
	margin-top:50px;
	width:80%;
	position:fixed;
	top:110px;
	left:90%;
	background:#fff;
	-moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
	
}
div.showNav{
	left:20%
}
.box .left{
	width:100%;
	float:none;
}
.box .left input#checkone{
	display: inline-block;
	clear: left;
}
.qiu-last1, .qiu-last2, .qiu-last3, .qiu-last4, .qiu-last5, .qiu-last6, .qiu-last7{
	width:117px;
	height:32px;
	line-height:32px;
	background-size: 100% auto;
}
.qiu-last2{
	background-position: 0 -43px;
}
.qiu-last3 {
    background-position: 0 -86px;
}
.qiu-last4 {
    background-position: 0 -130px;
}
.qiu-last5 {
    background-position: 0 -174px;
}
.qiu-last6 {
    background-position: 0 -219px;
}
.qiu-last7 {
    background-position: 0 -262px;
}
.box .right{
	width:100%;
	float:none;
}
.box .right div{
	float:left;
	width:33%;
}



}
@media (max-width: 568px){
.nylc input.inpd{
	font-size:15px;
	width:20%;
	height:186px;
	border-radius:10px;
}
.nylcx{
	width:59%;
}
.nylcx input{
	width:30.6%;
}
.ny input{
	margin-right:2px;
}
.nav-content ul li input{
	width:30px;
}
.nav-content ul li.inpszi input{
	width:50px;
}
#id_hao_from, #id_hao_to{
	width:58px;
	margin:0 0 5px 0;
}
.box .right div{
	width:215px;
	margin:0 auto;
	float:none;
}

}